#headerPane{
    -fx-background-color :  #FBF6DB;
    -fx-pref-height : 60;
}

#sidePane{
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.05), 5,0,3,3);
}

#saveButton{
    -fx-pref-height : 35px;
    -fx-pref-width : 90px;
    -fx-background-color : #faf6e1;
    -fx-border-style : solid;
    -fx-border-radius : 5%;

}

#saveButton:disabled{
    -fx-opacity : 1.0;
}

#sendButton{
    -fx-pref-height : 35px;
    -fx-pref-width : 100px;
    -fx-background-color : #04385d;
    -fx-background-radius : 5%;
}

#sendButton:disabled{
    -fx-opacity : 1.0;
}
